<% user_action = ((source === 'new_session') ? 'Log In' : 'Create New Account') %>
<% url = ((source === 'new_session') ? session_url : users_url)%>

<h2 class='login-header'>MultiVerse: Possibilities in Poetry</h2>
<h3 class='login-header'><%= user_action %></h3>

<form class='login-form' action="<%= url %>" method="post">
  <%= auth_token %>
    <input placeholder='Username' class='login-input' type="text"
      name="user[username]" value="<%= @user.username %>">

    <input placeholder='Password' class='login-input' type="password"
      name="user[password]">

    <input class='login-button' type="submit" value="<%= user_action %>">
</form>
<div class='guest-login-container clearfix'>
  <%= button_to "Guest Login: Mary Oliver",
    {controller: "sessions", action: "create",
      user: {username: "mary0liver", password: "thesummerdayoliver"}
    },
    {class: 'guest-login-button'}
  %>
  <%= button_to "Guest Login: Billy Collins",
    {controller: "sessions", action: "create",
      user: {username: "billy_collins", password: "aimlesslovecollins"}
    },
    {class: 'guest-login-button'}
  %>
</div>
