<% user_action = ((source === 'new_session') ? 'Sign in' : 'Sign up') %>
<% url = ((source === 'new_session') ? session_url : users_url)%>

<h3 className='login-header'><%= user_action %> to the MultiVerse!</h3>

<form className='login-form' action="<%= url %>" method="post">
  <%= auth_token %>
  <label className='login-username'>
    Username
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>

  <label className='login-password'>
    Password
    <input type="password" name="user[password]">
  </label>

  <input type="submit" value="<%= user_action %>!">
</form>
