<!DOCTYPE html>
<html>
<head>
  <title>MultiVerse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash.now[:msg] %>
    <ul>
      <% flash.now[:msg].each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  <% end %>

<%= yield %>

</body>
</html>
